<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/moment@2.14.1"></script>
    <script src="http://momentjs.com/downloads/moment-timezone-with-data.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="node_modules/moment-parseplus/parseplus.js"></script>
    <link rel="stylesheet" href="demo/app.css" />
    <link rel="stylesheet" href="dist/ng-range-picker.min.css" />
    <script src="dist/ng-range-picker.min.js"></script>
    <script src="demo/app.js"></script>
  </head>

  <body ng-controller="appCtrl">
    <range-picker ng-model="range"
                  ng-required="true"
                  range-changed="logChanged($range)"
                  placement="bottom left">
    </range-picker>

    <pre>{{ range | json }}</pre>

    <h3>Inline Picker (editable)</h3>
    <range-picker ng-model="range"
                  editable="true"
                  inline="true"
                  range-changed="logChanged($range)">
    </range-picker>

    <h3>Place Bottom Right (editable, append to body)</h3>
    <range-picker style="position:absolute; left: 50%; transform: translateX(-50%);"
                  ng-model="range"
                  editable="true"
                  placement="top"
                  range-changed="logChanged($range)"
                  container="body">
    </range-picker>

    <div id="panel">
      <h3>Place Bottom Right In Pane (editable, append to body)</h3>
      <range-picker ng-model="range"
                    editable="true"
                    placement="bottom"
                    range-changed="logChanged($range)"
                    container="#panel">
      </range-picker>
    </div>
  </body>

</html>
